<header class="header" aria-label="Cabeçalho principal">
    <div class="header-container">
        <div class="logo">
            <!--<img src="imagens/logo.jpg" alt="Saúde+"> !-->
            <h1>Saúde+</h1>
        </div>
        
        <nav class="menu" aria-label="Navegação principal">
            <ul>
                    <li><a href="index.html" class="nav-link">Home</a></li>
                    <li><a href="sobre.html" class="nav-link">Sobre</a></li>
                    <li><a href="unidades.html" class="nav-link">Unidades</a></li>

            </ul>
        
        </nav>
    </div>
</header>
